doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        //- use variables and text together -> #{}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body
        header 
            h1=pageTitle 
            //- if use only one variables -> =
        main  
            block content
            include partials/footer