extends base
include mixins/video

block content   
    ul
        //- video can be anything like potato, item, videos should be videos!
        each potato in videos 
            //- this is iteration(반복)
            +video(potato)
        else 
            //- this is not in javaScript
            li Sorry nothing found.
        